.intro-anime{
  margin: 50px 0 30px;
  margin: 2.5em 0;
  color: #ffffff;
  .apresentacao-anime {
    display: grid;
    gap: 2em;
    margin-bottom: 50px;
    div {
      position: absolute;
      top: 180px;
      padding: 20px;
      h1 {
        font-size: 2.5em;
        line-height: 1.5em;
        @media only screen and (max-width: 1180px){
          font-size: 2.25em;
        }
      }
      .paragrafo {
        width: 60%;
        color: #c4c4c4;
        font-size: 1.25em;
        line-height: 2em;
        @media only screen and (max-width: 1180px){
          font-size: 1em;
        }
      }
    }

  }
  
}

input{
  box-sizing: border-box;
  padding: 15px;
  width: 100%;
  color: #c4c4c4;
  background-color: #282830;
  border: none;
  font-size: 1em;
  outline: none;
}

.animes{
  margin-bottom: 50px;
}

.lista-animes{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2em 4.5em;
  p{
    width: 80%;
    font-size: 0.75em;
    line-height: 1.5em;
    color: #ffffff;
    margin-top: -65px;
    padding: 8px;
    position: relative;
    @media only screen and (max-width: 1180px){
      width: 100%;
      font-size: 0.625em;
    }
  }
}