.intro {
  margin: 3em 0;
  color: #ffffff;
}

.intro div {
  display: block;
  padding: 1em 0;
}

.intro h1 {
  font-size: 2.5em;
}

.paragrafo {
  width: 40%;
  color: #c4c4c4;
  line-height: 2em;
}