//Intro do site
.intro {
  margin: 2.5em 0;
  color: #ffffff;
  div {
    display: block;
    padding: 1em 0;
    h1 {
      font-size: 2.5em;
      line-height: 1.5em;
    }
  }
  .paragrafo {
    width: 50%;
    color: #c4c4c4;
    font-size: 1.25em;
    line-height: 2em;
  }
  @media only screen and (max-width: 1180px){
    margin: 1.5em 0;
    .paragrafo {
      width: 80%;
    }
  }
}

//area-principal
.noticias-principais{
  display: grid;
  grid-template-columns: 3fr 1fr;
  .card-principal{
    p{
      font-size: 1.5em;
      width: 90%;
      line-height: 1.5em;
      position: relative;
      padding: 8px;
      top: -90px;
      color: #ffffff;
    }
  }
  .cards-secundarios{
    display: flex;
    flex-direction: column;
    p{
      font-size: 0.75em;
      line-height: 1.5em;
      color: #ffffff;
      top: -65px;
      padding: 8px;
      position: relative;
    }
  }
  @media only screen and (max-width: 1180px){
    grid-template-columns: 1fr;
    .card-principal{
      img{
        margin: 0 auto;
      }
      p{
        margin: 10px;
      }
    }
    .cards-secundarios{
      display: flex;
      flex-direction: row;
      gap: 2.5em;
      img{
        margin: 0 auto;
      }
      p{
        margin: 10px;
        width: 85%;
      }
    }
  }
}

//area-secundaria
.secondary-area{
  display: grid;
  grid-template-columns: 3fr 1fr;
  .list-news{
    display: grid;
    gap: 2em;
    .news-item{
      display: flex;
      gap: .5em;
      li{
        width: 95%;
        color: #ffffff;
        margin-bottom: 5px;
        line-height: 1.5em;
        p{
          font-size: .875em;
          color: $text-light;
          &.data{
            margin-bottom: .5em;
          }
        }
      }
      .link-noticia{
        font-weight: 500;
      }
      .botao-noticia {
        @include config-botao
      }
      @media only screen and (max-width: 1180px){
        p {
          display: none;
        }
        .link-noticia{
          font-weight: 300;
          margin-bottom: 20px;
        }
      }
    }
  }

}

//area-lateral
aside{
  h5{
    font-size: 1.75em;
    margin-bottom: 15px;
    color: #ffffff;
    &:after{
      @include title-effect(80%);
    }
  }

  .aside-news{
    p{
      font-size: 0.75em;
      line-height: 1.5em;
      color: #ffffff;
      top: -65px;
      padding: 8px;
      position: relative;
    }
  }

  @media only screen and (max-width: 1180px){
    h5{
      font-size: 1.5em;
      margin-bottom: 15px;
      color: #ffffff;
      &:after{
        @include title-effect(90%);
      }
    }
    .aside-news{
      p {
        font-size: 0.675em;
        top: -65px;
      }
    }
  }
}

.recents{
  margin-top: 50px;
}

.most-recents{
  h5{
    font-size: 1.75em;
    margin-bottom: 15px;
    color: #ffffff;
    &:after{
      @include title-effect(30%);
    }
  }
  .list-recents{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    p{
      width: 80%;
      font-size: 0.75em;
      line-height: 1.5em;
      color: #ffffff;
      top: -65px;
      padding: 8px;
      position: relative;
    }
    @media only screen and (max-width: 1180px){
      grid-template-columns: 1fr 1fr;
      gap: 0 2.5em;
      h5{
        font-size: 1.5em;
        &:after{
          @include title-effect(30%);
        }
      }
      img{
        margin: 0 auto;
      }
      p{
        margin: 10px;
      }
    }
  }

}

//footer
footer {
  display: grid;
  .logo {
    color: $purple-prime;
    font-size: 2em;
    text-align: center;
  }
  p {
    width: 40%;
    margin: 20px auto;
    text-align: center;
    color: #c4c4c4;
    line-height: 1.5em;
  }
  @media only screen and (max-width: 1180px){
    p {
      width: 60%;
    }
  }
}
