$purple-prime: #8257e6;
$text-light: #c4c4c4;

@mixin title-effect($value){
  content: "";
  display: block;
  height: 3px;
  width: $value;
  background: $purple-prime;
  margin-top: 8px;
}

@import 'reset';
@import 'header';
@import 'home';
@import 'news';



body {
  background-color: #13131f;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lexend Deca', sans-serif;
}

a{
  text-decoration: none;
}

img{
  display: block;
  max-width: 100%;
  -webkit-mask-image: linear-gradient(to top, transparent 0%, #fff 70%);
  &:hover{
    -webkit-mask-image: linear-gradient(to top, transparent 0%, #fff 20%);
  }
}

.container {
  width: 1180px;
  margin: 0 auto;
}






