body {
  background-color: #13131f;
  font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lexend Deca', sans-serif;
}

.container {
  width: 1280px;
  margin: 0 auto;
  padding: 0px;
  display: flex;
}

/* Header */
header {
  padding-top: 1.5em;
}

.nav {
  display: flex;
  margin-left: auto;
}

.title {
  color: #8257e6;
  font-size: 1.5em;
}

.item-nav {
  list-style: none;
  display: inline-block;
  margin-left: 1.5em;
}

.item-nav a {
  color: #c4c4c4;
  text-decoration: none;
  list-style: unset;
}

.item-nav a:hover {
  color: #ffffff;
}

.item-especial {
  border: 1px solid #8257e6;
  border-radius: 25px;
  padding: 8px 15px;
}

/* Intro */
.intro {
  margin: 3em 0;
  color: #ffffff;
}

.intro div {
  display: block;
  padding: 1em 0;
}

.intro h1 {
  font-size: 2.5em;
}

.paragrafo {
  width: 40%;
  color: #c4c4c4;
  line-height: 2em;
}

/* Sessão principal de notícias */
.main {
  margin-bottom: 50px;
}

.episodio-anime img,
.noticia img,
.bloco-news li img {
  -webkit-mask-image: linear-gradient(to top, transparent 2%, black 95%);
}

.episodio-anime img:hover,
.noticia img:hover,
.bloco-news li img:hover {
  -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 0%);
}

.outras-noticias {
  display: block;
  margin-left: auto;
}

.noticia {
  margin-bottom: 1em;
  box-shadow: 60px teal;
}

.principal-noticia,
.noticia-secundaria {
  position: relative;
}

.principal-noticia p {
  font-size: 1.5em;
  line-height: 1.5em;
  position: absolute;
  top: 260px;
  padding: 15px;
  color: #ffffff;
}

.noticia-secundaria p {
  font-size: 0.75em;
  line-height: 1.5em;
  position: absolute;
  top: 100px;
  padding: 6px;
  color: #ffffff;
}

.principal-noticia p,
.noticia-secundaria p {
  text-shadow: 2px 2px #000000;
}

/* Sessão secundária de notícias */

.news {
  margin-bottom: 50px;
}

.lista-news {
  width: 60%;
}

.lateral-news {
  margin-left: auto;
  margin-bottom: 15px;
}

.lateral-news h3,
.most-recents h3 {
  color: #ffffff;
  font-size: 1.5em;
  margin-bottom: 30px;
}

.lateral-news .noticia-secundaria p {
  top: 170px;
}

.bloco-news {
  display: flex;
  margin-bottom: 30px;
}

.bloco-news a {
  text-decoration: none;
}

.info-noticia {
  margin-left: 15px;
}

.link-noticia {
  font-size: 1em;
  color: #ffffff;
  line-height: 1.5em;
}

.info-noticia p {
  margin-top: 5px;
  color: #c4c4c4;
  font-size: 0.75em;
  line-height: 1.5em;
}

.data {
  margin-bottom: 16px;
}

.botao-noticia {
  padding: 8px 5px;
  color: #ffffff;
  background: #8257e6;
  border-radius: 5px;
}

/* Última sessão de notícias */

.most-recents {
  margin-bottom: 30px;
}

.lista-recentes {
  display: flex;
  flex-wrap: wrap;
}

.lista-recentes .noticia-secundaria p {
  width: 90%;
  top: 180px;
}

/*.item-recente {
  width: 30%;
  margin: 10px 42px 10px 0;
}*/

/* footer */

footer {
  display: flex;
}

footer .title {
  margin: 10px auto;
}

.conteudo-footer {
  flex-direction: column;
}

.conteudo-footer p {
  width: 40%;
  margin: 20px auto;
  text-align: center;
  color: #c4c4c4;
}

/* Notícia */

.noticia-completa {
  margin: 60px 0;
}

.noticia-completa .info-noticia {
  margin: 20px 0 20px 0;
}

.noticia-completa h2 {
  color: #ffffff;
  font-size: 2em;
}

.noticia-completa .subtitulo {
  color: #c4c4c4;
  font-size: 1.25em;
}

.paragrafo-noticia {
  flex-direction: column;
}

article {
  margin: 40px 0;
}

article p {
  color: #c4c4c4;
  font-size: 1em;
  line-height: 1.5em;
  margin: 10px 0;
}

/* Página anime */
.apresentacao-anime {
  flex-direction: column;
  margin: 60px 0;
}

.apresentacao-anime input {
  padding: 15px 0 15px 0;
  width: 100%;
  background-color: #282830;
  border: none;
}

.apresentacao-anime input::placeholder {
  color: #c4c4c4;
  font-family: 'Inter', sans-serif;
  font-size: 1.25em;
}

.apresentacao-anime img {
  margin-bottom: 40px;
}

/* Animes */

.lista-animes {
  flex-wrap: wrap;
  justify-content: space-between;
}

.lista-animes .noticia-secundaria p {
  width: 90%;
  top: 180px;
}

.episodio-anime {
  margin-bottom: 30px;
}
